:host {
  display: block;
  position: relative;
}

button {
  left: 16px;
  position: absolute;
  top: 16px;
  z-index: 1;
}

mat-card {
  font-family: monospace;
  font-size: 0.8rem;
  max-height: 80vh;
  opacity: 0.6;
  right: 16px;
  overflow: auto;
  position: absolute;
  top: 48px;
  width: 200px;
  z-index: 1;
}
